/* Add application styles & imports to this file! */
body {
  background: #000000;
}

div.fixed {
  width: 100%;
  position: fixed;
}
div.fixed.bottom {
  bottom: 0;
}
div.fixed.top {
  top: 0;
}

#session-navbar {
  border-radius: 0;
  border-top: 2px solid #ffffff;
}